@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "@material-tailwind/react/tailwind.css"; */


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in {
  animation: fadeIn 0.5s ease forwards;
}